footer {
    height: 60px;
    background-color: $background-color;
    color: $text-color;
    font-size: $font-size-s;
    font-family: $content-font;
    text-transform: uppercase;
    text-align: center;
    line-height: 60px;
}