.hamburger {
    background-color: transparent;
    border: none;
    width: 28px;
    height: 28px;
    z-index: 999;
    position: absolute;
    top: 30px;
    left: 60px;
    cursor: pointer;
    display: none;
    outline: none;

    .bar {
        display: block;
        position: absolute;
        left: 0;
        border-top: 3px solid $text-color;
        width: 100%;
        transition: 300ms;   
    }

    .bar-top {
        top: 0;
    }

    .bar-middle {
        top: 10px;
    }

    .bar-bottom {
        top: 20px;
    }

    .show .bar-top {
        top: 10px;
        transform: rotate(45deg);
    }

    .show .bar-middle {
        opacity: 0;
    }

    .show .bar-bottom {
        top: 10px;
        transform: rotate(135deg);
    }

    @media only screen and (max-width: $tablet-portrait) {
        display: block;
    }

}

.show .bar-top {
    top: 10px;
    transform: rotate(45deg);
}

.show .bar-middle {
    opacity: 0;
}

.show .bar-bottom {
    top: 10px;
    transform: rotate(135deg);
}

