h1 {
    color: $text-color;
    text-transform: uppercase;
    font-size: $font-size-xl;
    font-family: $main-font;
    text-align: center;
    padding-top: $margin;

    a {
        @include plain-link;
        color: $text-color;
    }

    @media only screen and (max-width: $desktop) {
        font-size: $font-size-l;
    }



}


.home-header {
    background: url("../images/1920_2396_home_image.jpg") no-repeat center top fixed;
    min-height: 200vh;
    background-size: cover;
    position: relative;
    background-attachment: scroll;

    @media only screen and (max-width: $tablet-portrait) {
        background-attachment: fixed;
        min-height: 100vh;
    }

}




