h1 {
    color: $text-color;
    text-transform: uppercase;
    font-size: $font-size-xl;
    font-family: $main-font;
    text-align: center;
    padding-top: $margin;

    a {
        @include plain-link;
        color: $text-color;
    }

    @media only screen and (max-width: $desktop) {
        font-size: $font-size-l;
    }



}


.home-header {
    background: url("../images/1920_2396_home_image.jpg") no-repeat center top fixed;
    min-height: 100vh;
    background-size: cover;
    position: relative;
}

.content {
    background: url("../images/contact_dark_image.jpg") no-repeat center top fixed;
    min-height: 100vh;
    background-size: cover;
}

.model-info, .contact-info {
    color: $text-color;
    font-family: $content-font;
    text-transform: uppercase;
}

.model-info {
    margin-top: 10%;
    margin-left: 30%;
}

.contact-info {
    margin-top: 10%;
    margin-left: 30%;
}