body {
    background-color: $background-color;
}

.wrapper {
    width: 100%;
    height: 100vh;
    @include margin-center;

    .line-break {
        display: block;
        border-top: 1px solid $text-color-grey;
        width: 70%;
        color: white;
        @include margin-center;
        margin-top: $margin*3;
    }
}

.gallery {
    margin: 80px auto;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    padding: 0 8px;

    .column {
        flex: 33%;
        max-width: 33%;
        padding: 0 8px;

        img {
            width: 100%;
            margin-top: 16px;
            vertical-align: middle;
        }
    }

    @media screen and (max-width: $desktop){
        max-width: 80%;
    }

    @media screen and (max-width: $tablet-portrait){
        max-width: 100%; 
        .column {
            @include margin-center;
            flex: 100%;
            max-width: 80%;
        }
    }
}



 // Model info

.content {
    background: url("../images/contact_dark_image.jpg") no-repeat center top fixed;
    min-height: 100vh;
    background-size: cover;

    .model-info, .contact-info {
        color: $text-color-grey;
        font-family: $content-font;
        text-transform: uppercase;
        line-height: 25px;

    }
    
    .model-info {
        margin-top: 10%;
        margin-left: 30%;
        
        h3 {
            font-size: $font-size-m;
            font-weight: bold;
            margin-bottom: $margin;
            position: relative;
            padding-bottom: 8px;
        }

        h3:after {
            content: '';
            width: 35px;
            position: absolute;
            height: 1px;
            left: 0;
            bottom: 0;
            background-color: $text-color-grey;
        }

        p {
            font-size: $font-size-s;
        }
    }
    
    .contact-info {
        margin-top: 10%;
        margin-left: 30%;

        h3 {
            font-size: $font-size-m;
            font-weight: bold;
            margin-bottom: $margin;
            position: relative;
            padding-bottom: 8px;
        }

        h3:after {
            content: '';
            width: 35px;
            position: absolute;
            height: 1px;
            left: 0;
            bottom: 0;
            background-color: $text-color-grey;
        }

        p {
            font-size: $font-size-s;
        }

        a {
            @include plain-link;
            color: $text-color-grey;
            padding-bottom: 5px;
            position: relative;
        }

        a:after {
            content: '';
            position: absolute;
            width: 0;
            height: 2px;
            display: block;
            right: 0;
            background-color: $text-color-grey;
            transition: width .3s ease;
        }

        a:hover:after {
            width: 100%;
            left: 0;
            background-color: $text-color-grey;
        }
    }

    @media only screen and (max-width: $tablet-portrait){
        .model-info{
            margin-top: 20%;
            margin-left: 10%;
        }
        .contact-info{
            margin-top: 10%;
            margin-left: 10%;
        }
    }


}

