// Take away default look from links

@mixin plain-link {
    text-decoration: none;
}

// Center elements
@mixin margin-center {
    margin: {
        left: auto;
        right: auto;
    }
}

// Utility Classes
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

