// colors
$background-color: rgb(53, 53, 53);
$text-color: white;
$text-color-grey: rgb(199, 199, 199);

// text sizes
$font-size-xl: 38px;
$font-size-l: 24px;
$font-size-m: 18px;
$font-size-s: 14px;
$font-size-xs: 10px;

// fonts
$main-font: 'Josefin Sans', sans-serif;
$content-font: 'Montserrat', sans-serif;

// margins & paddings
$margin: 30px;
$padding: 10px;

// media queries
$desktop: 1080px;
$tablet-portrait: 825px;
$phone-landscape: 635px;
$phone-portrait: 430px;