// colors
$background-color: rgb(53, 53, 53);
$text-color: white;

// text sizes
$font-size-xl: 38px;
$font-size-l: 24px;
$font-size-m: 16px;
$font-size-s: 12px;
$font-size-xs: 10px;

// fonts
$main-font: 'Josefin Sans', sans-serif;
$content-font: 'Open Sans', sans-serif;

// margins & paddings
$margin: 30px;
$padding: 10px;

// media queries
$desktop: 1200px;
$tablet-portrait: 800px;
$phone-landscape: 600px;
$phone-portrait: 400px;